.home-pagination-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-array-item {
    display: flex;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

textarea {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  resize: vertical;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 2px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #0077ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}