.admin-dashboard {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f7;
}

.dashboard-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-white);
    transition: margin-left 0.3s ease, width 0.3s ease;
    margin-left: 220px;
}

.dashboard-main.collapsed {
    margin-left: 60px;
}


/* Mobile handling */
.dashboard-main.mobile-open {
    pointer-events: none;
}

@media (max-width: 1024px) {
    .dashboard-main {
        margin-left: 60px;
    }
}

@media (max-width: 768px) {
    .dashboard-main {
        margin-left: 0;
    }
}